In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
data = pd.read_csv('http://lib.stat.cmu.edu/datasets/boston')

ParserError: Error tokenizing data. C error: Expected 3 fields in line 3, saw 5

In [5]:
boston = data_url
print(boston.DESCR)

AttributeError: 'str' object has no attribute 'DESCR'

In [7]:
data_url.head

AttributeError: 'str' object has no attribute 'head'

In [9]:
url = "http://lib.stat.cmu.edu/datasets/boston"

In [12]:
import requests

In [13]:
response = requests.get(url)

In [15]:
if response.status_code==200:
    with open ("boston_housing.csv", "wb") as f:
        f.write(response.content)

In [21]:
import pandas as pd
column_names = [
    "CRIM", "ZN", "INDUS", "CHAS", "NOX", "RM", "AGE", "DIS", 
    "RAD", "TAX", "PTRATIO", "B", "LSTAT", "MEDV"
]

data = pd.read_csv(
    "boston_housing.csv",
    delim_whitespace= True,
    skiprows= 22,
    names = column_names
)

/tmp/ipykernel_5690/2981264427.py:7: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  data = pd.read_csv(

In [22]:
print(data.head())

        CRIM     ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.00   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1  396.90000   4.98  24.00   NaN    NaN    NaN   NaN     NaN  NaN    NaN
2    0.02731   0.00   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
3  396.90000   9.14  21.60   NaN    NaN    NaN   NaN     NaN  NaN    NaN
4    0.02729   0.00   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0

   PTRATIO   B  LSTAT  MEDV
0     15.3 NaN    NaN   NaN
1      NaN NaN    NaN   NaN
2     17.8 NaN    NaN   NaN
3      NaN NaN    NaN   NaN
4     17.8 NaN    NaN   NaN

In [23]:
print(data.tail())

           CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
1007  396.90000  5.64  23.90   NaN    NaN    NaN   NaN     NaN  NaN    NaN
1008    0.10959  0.00  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
1009  393.45000  6.48  22.00   NaN    NaN    NaN   NaN     NaN  NaN    NaN
1010    0.04741  0.00  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0
1011  396.90000  7.88  11.90   NaN    NaN    NaN   NaN     NaN  NaN    NaN

      PTRATIO   B  LSTAT  MEDV
1007      NaN NaN    NaN   NaN
1008     21.0 NaN    NaN   NaN
1009      NaN NaN    NaN   NaN
1010     21.0 NaN    NaN   NaN
1011      NaN NaN    NaN   NaN

In [24]:
data.keys()

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

Preparing the dataset

In [26]:
dataset = data
dataset.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.00,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,NaN,NaN,NaN
1,396.90000,4.98,24.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.02731,0.00,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,NaN,NaN,NaN
3,396.90000,9.14,21.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.02729,0.00,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,NaN,NaN,NaN

Replicatinag 'Scikit-learn' Structure with my dataframe
Separate the features and target from your DataFrame:
data can be all columns except 'MEDV', which is the target.
target will just be the 'MEDV' column.
feature_names can be the column names excluding 'MEDV'.

In [28]:
features = data.drop('MEDV', axis = 1)
target = data['MEDV']
feature_names= features.columns.tolist()
#feature = boston.data
#target = boston.target
#features_names = boston.features_names

In [29]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1012 entries, 0 to 1011
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     1012 non-null   float64
 1   ZN       1012 non-null   float64
 2   INDUS    1012 non-null   float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        0 non-null      float64
 12  LSTAT    0 non-null      float64
 13  MEDV     0 non-null      float64
dtypes: float64(14)
memory usage: 110.8 KB

In [30]:
dataset.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,1012.000000,1012.000000,1012.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,0.0,0.0,0.0
mean,180.143778,12.008350,16.834792,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,NaN,NaN,NaN
std,188.132839,17.250728,9.912616,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,NaN,NaN,NaN
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,NaN,NaN,NaN
25%,0.257830,0.000000,8.375000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,NaN,NaN,NaN
50%,24.021000,7.240000,18.100000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,NaN,NaN,NaN
75%,391.435000,16.780000,21.890000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,NaN,NaN,NaN
max,396.900000,100.000000,50.000000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,NaN,NaN,NaN

In [31]:
##check the missing values

In [32]:
dataset.isnull().sum()

CRIM          0
ZN            0
INDUS         0
CHAS        506
NOX         506
RM          506
AGE         506
DIS         506
RAD         506
TAX         506
PTRATIO     506
B          1012
LSTAT      1012
MEDV       1012
dtype: int64